@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: #212224;
  --primart-accent: #30D5C8;
  --secondary-accent: #fc926b;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
  text-decoration-color: var(--foreground-rgb);
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: opacity(0.4);
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  width: 100%;
  z-index: 100;
}

.primary-accent {
  color: var(--primart-accent);
}

.secondary-accent {
  color: var(--secondary-accent);
}

a:hover {
  color: #FFFFFF;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.animated-icon::after {
  content: '/';
  animation: switchFade 1s infinite;
}

@keyframes switchFade {
  0% {
    content: '/';
  }

  50.01% {
    content: '\\';
  }

  100% {
    content: '/';
  }
}

.frosted-glass {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 15px;
}

.project-item {
  transition: transform 0.3s ease-in-out;
}

.project-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.badge {
  background-color: #60727b;
  color: var(--foreground-rgb);
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  margin-right: 0.5rem;
}

.social-icon:hover {
  color: var(--primart-accent);
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}